@import "styles/utils";

.rewardCard {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  grid-gap: 24px;
  line-height: 17px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 40px 24px;

  @include media(">desktop") {
    padding-top: 38px 32px 32px;
  }

  &.disabled {
    opacity: 0.5;
  }

  .header {
    @include media(">desktop") {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }


  .title {
    font-weight: 700;
    color: #000000;
    margin-bottom: 8px;

    @include media(">desktop") {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .price {
    font-weight: 500;
    color: #3CB3AB;

    @include media(">desktop") {
      font-size: 15px;
      line-height: 18px;
    }
  }

  .description {
    line-height: 24px;
    color: #7A7A7A;

    @include media(">desktop") {
      line-height: 30px;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;

    @include media(">desktop") {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .amount {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    font-size: 15px;
    line-height: 18px;
    color: #7A7A7A;

    strong {
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: #000000;
    }
  }

  .selectRewardButton {
    font-size: 14px;
    line-height: 17px;
  }
}
