@import "styles/utils";

.projectView {
  text-align: center;

  .topBanner {
    width: 100%;
    max-height: 300px;
    object-fit: cover;

    @include media(">desktop") {
      max-height: 400px;
    }
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    top: -84px;

    @include media(">desktop") {
      top: -92px;
    }
  }

  .box {
    position: relative;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    border-radius: 8px;
    padding: 52px 23.5px 40px;

    @include media(">desktop") {
      padding: 48px;
    }

    &.intro {
      @include media(">desktop") {
        padding: 56px 48px 48px;
      }
    }
  }

  .projectLogo {
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
  }

  .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 16px;
    white-space: pre-line;

    @include media(">desktop") {
      font-size: 28px;
      line-height: 34px;
      white-space: initial;
      margin-bottom: 15px;
    }
  }

  .description {
    margin-bottom: 24px;

    @include media(">desktop") {
      line-height: 20px;
      margin-bottom: 40px;
    }
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 9px;
  }

  .indicatorContainer {
    display: flex;
    flex-direction: column;

    @include media(">desktop") {
      flex-direction: row;
      text-align: left;
    }

    .indicator {
      position: relative;
      padding-top: 24px;

      @include media('>desktop') {
        flex: 1;
        padding-top: 0;
        padding-left: 47px;
        max-width: 229px;
      }

      &:first-child {
        padding-top: 0;

        @include media(">desktop") {
          padding-left: 0;
        }

        &::after {
          display: none;
        }
      }

      &::after {
        position: absolute;
        top: 0;
        left: 50%;
        width: 80px;
        height: 1px;
        background: rgba(0, 0, 0, 0.15);
        content: "";
        transform: translateX(-50%);

        @include media(">desktop") {
          left: 0;
          width: 1px;
          height: 63px;
          transform: initial;
        }
      }

      .title {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 9px;

        @include media(">desktop") {
          margin-bottom: 8px;
        }
      }

      .description {
        line-height: 17px;

        @include media(">desktop") {
          font-size: 15px;
          line-height: 18px;
        }
      }
    }
  }

  .progress {
    position: relative;
    width: 100%;
    height: 12px;
    background: rgba(47, 47, 47, 0.05);
    border-radius: 33.5px;
    margin-top: 8px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 88.9%;
      height: 100%;
      background: #3CB3AB;
      border-radius: 33.5px;
      content: "";
    }
  }

  .projectDetails {
    text-align: left;
    padding: 40px 24px;

    @include media(">desktop") {
      padding: 48px;
    }

    .title {
      font-size: 18px;
      line-height: 22px;

      @include media(">desktop") {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 35px;
      }
    }

    .description {
      font-size: 14px;
      line-height: 24px;
      color: #7A7A7A;
      white-space: pre-line;

      @include media(">desktop") {
        font-size: 16px;
        line-height: 30px;
      }
    }
  }

  .rewardContainer {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;

    button {
      min-height: 48px;
    }
  }
}
