
.rewardOption {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  cursor: pointer;

  &.active {
    border: 2px solid #3CB3AB;

    .body {
      .optionButton {
        position: relative;

        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 12px;
          height: 12px;
          background: #3CB3AB;
          transform: translateX(-50%) translateY(-50%);
          border-radius: 50%;
          content: "";
        }
      }
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .body {
    padding: 33px 24px 32px;

    .head {
      display: flex;
      align-items: center;
      grid-gap: 16px;
      margin-bottom: 24px;
    }

    .optionButton {
      width: 24px;
      height: 24px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 50%;
      cursor: pointer;
    }

    .title {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }

    .price {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #3CB3AB;
      margin-top: 8px;
    }

    .description {
      font-size: 14px;
      line-height: 24px;
      color: #7A7A7A;
    }

    .amount {
      font-size: 15px;
      line-height: 18px;
      color: #7A7A7A;
      margin-top: 24px;

      strong {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-right: 8px;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    padding: 23.5px 24px 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);

    .description {
      text-align: center;
    }

    .container {
      display: flex;
      justify-content: flex-end;
      grid-gap: 16px;
    }

    .pledgeInputWrapper {
      flex: 1;
      position: relative;
      width: 100%;

      &::before {
        position: absolute;
        top: 15px;
        left: 24px;
        font-weight: 700;
        color: #000000;
        content: "$";
        z-index: 1;
        opacity: 0.25;
      }
    }

    .pledgeInput {
      position: relative;
      width: 100%;
      font-weight: 700;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 33.5px;
      padding: 15px 16px 16px 41px;
    }

    .continueButton {
      max-width: 115px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
