@import "styles/utils";

.menuNav {
  .menuButton {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    @include media(">desktop") {
      display: none;
    }
  }

  .menuContainerWrapper {
    position: absolute;
    top: 88px;
    left: 0;
    width: 100%;
    display: none;

    &.open {
      display: block;
    }

    @include media(">desktop") {
      position: relative;
      top: 0;
      left: 0;
      display: block;
    }
  }

  .menuContainer {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin: 0 24px;
    z-index: 1;

    @include media(">desktop") {
      display: flex;
      grid-gap: 32px;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: #FFFFFF;
      background: transparent;
      border: none;
    }

    li {
      display: flex;
      border-bottom: 1px solid rgba(47, 47, 47, 0.1);

      @include media(">desktop") {
        border-bottom: none;
      }

      &:last-child {
        border-bottom: none;
      }

      a {
        flex: 1;
        padding: 24px;

        @include media(">desktop") {
          padding: 0;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
